*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 220, 220);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(73, 73, 171);
    padding-right: 3rem;
    padding-left: 3rem;
}
.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4rem;
    color: rgb(65, 65, 147);

}
input{
    width: 30rem;
    height: 1.5rem;
    border: none;
}

.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(73, 73, 171);
    height: 20rem;
    align-items: center;
}
.device{
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-radius: 1rem;
    background-color: white;
    height: 15rem;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
}
button{
    border: solid rgb(73, 73, 171);
    color:  rgb(73, 73, 171) ;
    border-radius: .5rem;
    width: 5rem;
    height: 1.8rem;
    background-color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(73, 73, 171);
    height: 3rem;
    margin-top:2.2rem;
}